[wsl2]
kernel=C:\\Users\\<WINDOWS_USER>\\wsl-kernels\\linux-msft-wsl-<KERNEL_VERSION>-xpad\\bzImage
kernelModules=C:\\Users\\<WINDOWS_USER>\\wsl-kernels\\linux-msft-wsl-<KERNEL_VERSION>-xpad\\modules.vhdx
